In [1]:
import numpy as np

In [2]:
np.random.rand(3)

array([0.85263326, 0.98007348, 0.84667616])

In [3]:
import pandas as pd

In [4]:
pd.Series(np.random.rand(4))

0    0.307044
1    0.345778
2    0.351573
3    0.114402
dtype: float64

In [5]:
pd.DataFrame(np.random.rand(3, 2))

          0         1
0  0.519865  0.065347
1  0.238348  0.361770
2  0.452999  0.229368

In [6]:
np_array = np.random.rand(3)

In [7]:
pd_series = pd.Series(np_array)

In [8]:
pd_series = pd.Series(np_array, index=["First", "Second", "Third"])

In [9]:
pd_series[0]

0.5896640275780333

In [10]:
pd_series["Second"]

0.5530750489283883

In [11]:
pd_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [12]:
np_array_2d = np.random.rand(3, 2)
np_array_2d

array([[0.46034617, 0.62979711],
       [0.20539845, 0.61078987],
       [0.89190886, 0.25915063]])

In [13]:
df = pd.DataFrame(np_array_2d)
df

          0         1
0  0.460346  0.629797
1  0.205398  0.610790
2  0.891909  0.259151

In [14]:
np_array_2d[1, 0]

0.20539844706648436

In [15]:
df.columns = ["First", "Second"]
df

      First    Second
0  0.460346  0.629797
1  0.205398  0.610790
2  0.891909  0.259151

In [16]:
df["Second"]

0    0.629797
1    0.610790
2    0.259151
Name: Second, dtype: float64

In [17]:
type(df["Second"])

pandas.core.series.Series

In [18]:
df["Second"][1]

0.6107898746797267