In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_pickle("data_frame.pickle")
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69201 entries, 1035 to 127035
Data columns (total 8 columns):
artist             69201 non-null object
title              69201 non-null object
medium             62817 non-null object
year               63823 non-null object
acquisitionYear    69156 non-null float64
width              65860 non-null object
height             65860 non-null object
units              65860 non-null object
dtypes: float64(1), object(7)
memory usage: 4.8+ MB

       acquisitionYear
count     69156.000000
mean       1910.646856
std          64.202148
min        1823.000000
25%        1856.000000
50%        1856.000000
75%        1982.000000
max        2013.000000

### How many distinct artists?

In [15]:
artists = df["artist"]
artists.unique().size

3336

### How many by Francis Bacon?

In [64]:
s = df["artist"] == "Bacon, Francis"
s.value_counts()[True]

50

In [65]:
df["artist"].value_counts()["Bacon, Francis"]

50

In [59]:
len(df[df["artist"] == "Bacon, Francis"])

50

### Artwork with the biggest dimensions?

In [34]:
pd.to_numeric("foo", errors="coerce")

nan

In [47]:
df["width"] = pd.to_numeric(df["width"], errors="coerce")
df["height"] = pd.to_numeric(df["height"], errors="coerce")

In [79]:
area = df["width"] * df["height"]
df = df.assign(area=area)

In [80]:
df['area'].max()

132462000.0

In [82]:
df['area'].idxmax()

98367

In [84]:
df.loc[df['area'].idxmax(),:]

artist                               Therrien, Robert
title                No Title (Table and Four Chairs)
medium             Aluminium, steel, wood and plastic
year                                             2003
acquisitionYear                                  2008
width                                            8920
height                                          14850
units                                              mm
size                                      1.32462e+08
area                                      1.32462e+08
Name: 98367, dtype: object

### loc & iloc

In [68]:
df.loc[df["artist"] == "Bacon, Francis", ["title", "medium"]].head()

                                                 title                 medium
id
672                              Figure in a Landscape    Oil paint on canvas
673                                     Study of a Dog    Oil paint on canvas
674  Three Studies for Figures at the Base of a Cru...  Oil paint on 3 boards
677                Study for a Portrait of Van Gogh IV    Oil paint on canvas
678                                    Reclining Woman    Oil paint on canvas

In [69]:
df[df["artist"] == "Bacon, Francis"].head()

,artist,title,medium,year,acquisitionYear,width,height,units,size
id,,,,,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1945,1950.0,1448.0,1283.0,mm,1857784.0
673,"Bacon, Francis",Study of a Dog,Oil paint on canvas,1952,1952.0,1981.0,1372.0,mm,2717932.0
674,"Bacon, Francis",Three Studies for Figures at the Base of a Cru...,Oil paint on 3 boards,1944,1953.0,NaN,NaN,NaN,NaN
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1957,1958.0,1524.0,1168.0,mm,1780032.0
678,"Bacon, Francis",Reclining Woman,Oil paint on canvas,1961,1961.0,1988.0,1416.0,mm,2815008.0

In [70]:
df.iloc[0,:]

artist                                                 Blake, Robert
title              A Figure Bowing before a Seated Old Man with h...
medium             Watercolour, ink, chalk and graphite on paper....
year                                                             NaN
acquisitionYear                                                 1922
width                                                            394
height                                                           419
units                                                             mm
size                                                          165086
Name: 1035, dtype: object